
.sideContainer {
  flex-direction: column;
  display: flex;
  min-width: 300px;
  box-shadow: 8px 10px 14px rgb(0 0 0 / 10%);
  border-radius: 0px 10px 0px 0px;
}

.heading {
  display: none;
}

.profilePicture {
  object-fit: contain;
  border-radius: 10px;
}

.containerProfilePicture {
  border-radius: 10px !important;
  align-self: center;
}

.titleHistory {
  text-align: left !important;
}


.linkedInfo {
  text-decoration: none;
  color: #000000;
}

.interestDescription{
  white-space: pre-wrap;
  text-align: justify; 
  max-width: 45ch;
  margin: auto;
}
.socialLinksContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cvButton{
  background-color: #FE258E;
  cursor: pointer;
  color: white;
  padding: 0.25em 0.5em;
  margin-left: .25em;
  border-radius: 15px;
  filter: drop-shadow(3px 3px 1px #6a6a6a);
  transition: 0.3s;
 }
 .cvButton:hover{
  filter: none;
 }

@media only screen and (max-width: 900px) {
  .homeContainer {
    flex-direction: column;
    width: 100vw;
  }
  .sideContainer {
    min-width: 300px;
    padding: 0 1em;
    box-shadow: 0px 7px 4px -2px rgb(0 0 0 / 7%);
    text-align: center;
  }
  .heading {
    display: flex;
    flex-direction: column;
  }
}
